<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Louis Hoang</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo.png" rel="icon">
    <link href="assets/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/icomoon.css" rel="stylesheet">
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">Louis Hoang</a></h1>
            <div class="social-links mt-3 text-center">
                <!--                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
                <!--                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
                <!--                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
                <!--                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
                <a href="https://www.linkedin.com/in/louis-hoang/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/louis-hoang21" class="linkedin"><i class="bx bxl-github"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="index.html" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="index.html#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="index.html#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="index.html#blogs" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Blogs</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<main id="main" ng-app="myModule">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>test</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>test</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" ng-controller="MyController">
            <div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" ng-model="person.name" class="form-control" id="name"><br>
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="text" ng-model="person.age" class="form-control" id="age"><br>
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <div class="flex">
                        <input type="radio" ng-model="person.gender" name="gender" ng-checked="person.gender == 'male'" value="male" id="male">
                        <label for="male">male</label><br>
                        <input type="radio" ng-model="person.gender" name="gender" ng-checked="person.gender == 'female'" value="female" id="female">
                        <label for="female">female</label><br>
                    </div>
                </div>

                <div class="form-group">
                    <label>Công việc đã hoàn thành</label>
                    <div ng-repeat="todo in person.todos">
                        <input type="checkbox" ng-model="todo.status">
                        <span class="dont-{{todo.status}}">{{todo.text}}</span>
                    </div>
                </div>
            </div>
            <div>
                <h2>printf</h2>
                Name: {{person.name}}<br>
                Age: {{person.age}}<br>
                Gender: {{person.gender}}<br>
                Total task dont: {{person.totalTaskDone}} / {{person.totalTask}}<br>
            </div>
        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Louis Hoang</span></strong><br>
            <span id="copyright-years"></span>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/typed.js/typed.min.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Template Main JS File -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="assets/js/test.js"></script>

</body>

</html>